<h1>Edit Your Profile</h1>

<%= form_with model: @user, url: update_profile_path, method: :patch, local: true, class: "form" do |f| %>
  <div class="form-group">
    <label>User ID:</label>
    <span id="user_id"><%= @user.id %></span>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email (cannot be changed)" %>
    <%= f.text_field :email, disabled: true, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= f.label :whatsapp, "Whatsapp (phone number)" %>
    <%= f.text_field :whatsapp, class: "form-control" %>
  </div>

<div class="form-group form-check">
  <%= f.check_box :admin, id: "admin", class: "form-check-input" %>
  <%= f.label :admin, "Admin", for: "admin", class: "form-check-label" %>
</div>

<div class="form-group form-check">
  <%= f.check_box :student, id: "student", class: "form-check-input" %>
  <%= f.label :student, "Student", for: "student", class: "form-check-label" %>
</div>

<div class="form-group form-check">
  <%= f.check_box :alumn, id: "alumn", class: "form-check-input" %>
  <%= f.label :alumn, "Alumn", for: "alumn", class: "form-check-label" %>
</div>

  <div class="form-group">
    <%= f.label :dob, "Date of Birth" %>
    <%= f.date_field :dob, class: "form-control" %>
  </div>

<div class="form-group">
  <%= f.label :profile_picture, "Profile Picture (JPG only)" %>
  <%= f.file_field :profile_picture, accept: "image/jpeg", class: "form-control" %>
</div>


  <div class="form-group">
    <%= f.label :country_of_residence, "Country of Residence" %>
    <%= f.text_field :country_of_residence, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city_of_residence, "City of Residence" %>
    <%= f.text_field :city_of_residence, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :industry_of_occupation, "Industry of Occupation" %>
    <%= f.text_field :industry_of_occupation, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company, "Company" %>
    <%= f.text_field :company, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="mt-3">
  <h2>Details for <%= @user.email %></h2>
  <%= link_to "Back to Home", root_path, class: "btn btn-secondary" %>
</div>
